<mat-card class="shadow">
  <mat-card-title class="text-center mt-3">Dashboard</mat-card-title>
  <mat-card-content>
    <mat-grid-list [cols]="myBreakPoint" gutterSize="15px" cols="4" rowHeight="150px"
                   (window:resize)="handleSize($event)"
    *ngIf="counterData != undefined">
      <ng-container>
        <mat-grid-tile>
          <div class="card" (click)="onClickCard('parks')">
            <h5 class="card-title text-center">Parks</h5>
            <p class="card-text text-center">{{counterData['numberOfParks']}}</p>
          </div>
        </mat-grid-tile>
      </ng-container>
      <ng-container>
        <mat-grid-tile>
          <div class="card" (click)="onClickCard('buildings')">
            <h5 class="card-title text-center">Buildings</h5>
            <p class="card-text text-center">{{counterData['numberOfBuildings']}}</p>
          </div>
        </mat-grid-tile>
      </ng-container>
      <ng-container>
        <mat-grid-tile>
          <div class="card" (click)="onClickCard('slots')">
            <h5 class="card-title text-center">Slots</h5>
            <p class="card-text text-center">{{counterData['numberOfSlots']}}</p>
          </div>
        </mat-grid-tile>
      </ng-container>
      <ng-container>
        <mat-grid-tile>
          <div class="card" (click)="onClickCard('users')">
            <h5 class="card-title text-center">Users</h5>
            <p class="card-text text-center">{{counterData['numberOFUsers']}}</p>
          </div>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

    <ng-container>
      <div class="text-center h6">Reservation Chart</div>
      <div>
        <button mat-raised-button color="primary" (click)="onWeek()">Week</button>
        <button mat-raised-button color="primary" (click)="onMonth()" class="mx-3">Month</button>
      </div>
      <div class="text-center">
        <canvas id="canvas" style="height:55vh; width:100vw">{{chart}}</canvas>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
