<h2 mat-dialog-title>Add Reservations</h2>
<div mat-dialog-content>
  <form [formGroup]="dialogForm" (ngSubmit)="onSubmit()" #formDir="ngForm" novalidate>
    <mat-form-field>
      <mat-label>Parking Name</mat-label>
      <mat-select formControlName="park" name="park" (selectionChange)="onSelectPark()">
        <mat-option *ngFor="let parking of parkingOptions" [value]="parking">{{ parking['name'] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="dialogForm.controls['park'].invalid">Park is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Building Name</mat-label>
      <mat-select formControlName="building" name="building" (selectionChange)="onSelectBuilding()">
        <mat-option *ngFor="let building of buildingOptions" [value]="building">{{ building['name'] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="dialogForm.controls['building'].invalid">Building is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Floor Name</mat-label>
      <mat-select formControlName="floor" name="floor" (selectionChange)="onSelectFloor()">
        <mat-option *ngFor="let floor of floorOptions" [value]="floor">{{ floor['name'] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="dialogForm.controls['floor'].invalid">Floor is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Slot Name</mat-label>
      <mat-select formControlName="slot" name="slot">
        <mat-option *ngFor="let slot of slotOptions" [value]="slot">{{ slot['name'] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="dialogForm.controls['slot'].invalid">Slot is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select formControlName="user" name="user">
        <mat-option *ngFor="let user of userOptions" [value]="user">{{ user['firstName'] +' '+ user['lastName'] }}</mat-option>
      </mat-select>
      <mat-error *ngIf="dialogForm.controls['user'].invalid">User is required</mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Date of reservation</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="datepicker" formControlName="date" placeholder="Date of reservation">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="dialogForm.controls['date'].invalid">Date is required</mat-error>
    </mat-form-field>

    <br>
    <mat-radio-group formControlName="period">
      <mat-radio-button value="0">Morning</mat-radio-button>
      <mat-radio-button value="1">Afternoon</mat-radio-button>
    </mat-radio-group>


    <!--    <mat-form-field class="example-form-field">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="slot" name="slot" required pattern="^(0[1-9]|1\d|2\d|3[01])/(0[1-9]|1[0-2])/((19|20)\d\d)$" (keydown)="onDateInputKeydown($event)" (blur)="validateDate()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>-->

  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">Add</button>
</div>
