<mat-card class="shadow">
  <mat-card-title class="text-center mt-3">Buildings</mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="exportBuildings()" class="mx-3">Export Buildings</button>
    <button mat-raised-button color="primary" (click)="create()" class="mx-3">Add Building</button>
    <mat-form-field appearance="fill">
      <mat-label>Search Building</mat-label>
      <input matInput type="text" class="mr-3" [(ngModel)]="searchQuery" (ngModelChange)="searchBuildings()"/>
      <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-actions>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="230px" gutterSize="16px" class="building-grid">
      <mat-grid-tile *ngFor="let building of dataSource">
        <mat-card class="building-card border border-primary shadow">
          <mat-card-title class="building-title mt-3">Building {{ building.id }}</mat-card-title>
          <mat-card-content>
            <p class="building-info">Name: {{ building.name }}</p>
            <p class="building-info">Created At: {{ building.createdAt | date:'yyyy.MM.dd hh:mm:ss' }}</p>
            <p class="building-info">Updated At: {{ building.updatedAt | date:'yyyy.MM.dd hh:mm:ss' }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button (click)="edit(building)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="show(building)" color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>


