<div class="container">
  <div class="set-new-password">
    <h2>Set New Password</h2>
    <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control"
          placeholder="Enter your password">
        <div class="error-message"
          *ngIf="setPasswordForm.controls['password'].invalid && (setPasswordForm.controls['password'].dirty || setPasswordForm.controls['password'].touched)">
          <div *ngIf="setPasswordForm.controls['password'].errors?.['required']">Password is required.</div>
          <div *ngIf="setPasswordForm.controls['password'].errors?.['minlength']">Password must be at least 8
            characters long.</div>
          <div *ngIf="setPasswordForm.controls['password'].errors?.['maxlength']">Password cannot exceed 20
            characters.</div>
          <div *ngIf="setPasswordForm.controls['password'].errors?.['pattern']">Password must contain at least one
            lowercase letter, one uppercase letter, one digit, and one special character.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
          placeholder="Confirm your password">
        <div class="error-message"
          *ngIf="setPasswordForm.controls['confirmPassword'].invalid && (setPasswordForm.controls['confirmPassword'].dirty || setPasswordForm.controls['confirmPassword'].touched)">
          <div *ngIf="setPasswordForm.controls['confirmPassword'].errors?.['required']">Confirmation password is
            required.</div>
          <div *ngIf="setPasswordForm.controls['confirmPassword'].errors?.['minlength']">Confirmation password must be
            at least 8 characters long.</div>
          <div *ngIf="setPasswordForm.controls['confirmPassword'].errors?.['maxlength']">Confirmation password cannot
            exceed 20 characters.</div>
          <div *ngIf="setPasswordForm.controls['confirmPassword'].errors?.['pattern']">Confirmation password must
            contain at least one lowercase letter, one uppercase letter, one digit, and one special character.</div>
        </div>
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit" class="btn btn-primary" [disabled]="setPasswordForm.invalid">Set Password</button>
    </form>
  </div>
</div>
