<mat-card>
  <mat-card-title class="text-center mt-3">Buildings</mat-card-title>
  <mat-card-content>
    <mat-grid-list gutterSize="25px" rowHeight="180px" [cols]="myBreakPoint" (window:resize)="handleSize($event)">
      <ng-container *ngIf="buildings.length > 0; else noItemsTemplate">
        <mat-grid-tile *ngFor="let item of buildings" (click)="onClickBuilding(item.id)">
          <div class="card">
            <h5 class="card-title text-center">{{item.name}}</h5>
            <p class="card-text text-center">Address:
              {{item['address']['streetName']}}
              {{item['address']['buildingNumber']}},
              {{item['address']['postCode']}}
              {{item['address']['city']}}
            </p>
          </div>
        </mat-grid-tile>
      </ng-container>
      <ng-template #noItemsTemplate>
        <h2 class="card-title text-center">No Buildings to display.</h2>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>


