<mat-grid-list cols="4" rowHeight="250px">
  <mat-grid-tile *ngFor="let parking of parkings">
    <mat-card class="card card-green" [class.reserved-morning]="isReservedMorning(parking.reservations[0])" [class.reserved-afternoon]="isReservedAfternoon(parking.reservations[0])">
      <mat-card-header class="card-header">
        <div class="header-element">
          <mat-icon class="header-icon">local_parking</mat-icon>
        </div>
        <div class="header-element">
          <mat-card-title>{{ parking.name }}</mat-card-title>
        </div>
        <div class="header-element">
          <mat-card-subtitle>{{ parking.type }}</mat-card-subtitle>
        </div>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

