<mat-card>
  <mat-card-title class="text-center mt-3">Slots</mat-card-title>
  <mat-card-content>
    <mat-grid-list [cols]="myBreakPoint" gutterSize="30px" cols="4" rowHeight="150px"
                   (window:resize)="handleSize($event)">
      <ng-container *ngIf="slots.length > 0; else noItemsTemplate">
        <mat-grid-tile *ngFor="let item of slots">
          <div class="card" (click)="onSelect(item)">
            <h5 class="card-title text-center">{{item.name}}</h5>
            <div class="card-content text-center">
              <div *ngIf="item.type.name != 'Normal'">{{ item.type.name }}</div>
            </div>
          </div>
        </mat-grid-tile>
      </ng-container>
      <ng-template #noItemsTemplate>
        <h2 class="card-title text-center">No Slots to display.</h2>
      </ng-template>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
