<section class="login-container">
  <div class="card">
    <img src="\assets\Pictures\parking-lot.png" alt="New Parking System Logo" class="logo">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="resetForm.get('email')?.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <div class="success-message" *ngIf="successMessage !== ''">{{ successMessage }}</div>
      <div class="error-message" *ngIf="errorMessage !== ''">{{ errorMessage }}</div>
      <button type="submit" class="btn-primary">Reset</button>
    </form>
  </div>
</section>
