<section class="login-container">
  <div class="card">
    <img src="\assets\Pictures\parking-lot.png" alt="New Parking System Logo" class="logo">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched">Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <div class="text-success" *ngIf="successMessage != ''">{{ successMessage }}</div>
      <button type="submit" class="btn-primary">Reset</button>
      <div *ngIf="isResetFailed" class="alert alert-danger mt-3" role="alert">{{ errorMessage }}</div>
    </form>
  </div>
</section>

